html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

.homepage-content-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    border-radius: 40px;
}

.tool-block {
    background-color: #0d3d48;
    border: 1px solid #0d3d48;
    color: black;
    padding: 15px;
    border-radius: 15px;
    margin: 5px;
    transition: box-shadow 0.3s ease;
    width: 250px;
}

.tool-block p, .tool-block h3 {
    color: white;
}

.tool-block:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.tools-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
}

.tools-wrap a {
    color: white;
    display: flex;
}

section {
    /* margin: 0px 20px; */
}

.section-wrap {
    padding: 20px 20px;
    max-width: 1200px;
    width: 100%;
}

.section-margin {
    /* margin: 0px 20px; */
}

h2 {
    margin: 15px 0px;
}

p {
    margin: 10px 0px;
}

/* hero */

.hero-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.hero-wrap h1 {
    text-align: left;
}

.hero-wrap h1, .hero-wrap p {
    margin: 15px 0px;
}

.hero-wrap button {
    margin: 15px 0px;
    width: 250px;
}

.left-wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-wrap img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    object-fit: cover;
}

.right-wrap {
    width: 50%;
    padding: 20px 50px 20px 20px;
    background-color: #d0f4ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-wrap h3, .right-wrap p {
    width: 90%;
}

.description-wrap h3 {
    margin: 10px 0px;
}

.description-wrap p {
    margin: 0px;
}

.button-wrap {
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}


.tools-icons-wrap {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
}

.tools-wrap .icon-block img {
    width: 12px;
}

@media (max-width: 768px) {
    .hero-wrap {
        display: flex;
        flex-direction: column;
    }

    .hero-wrap .left-wrap, .hero-wrap .right-wrap {
        width: 100%;
    }

    .left-wrap img {
        height: 350px;
    }
}


@media (max-width: 550px) {
    .tool-block {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .left-wrap img {
        height: 100%;
    }

    .hero-wrap h1, .hero-wrap p {
        margin: 10px 0px;
    }
    
    .hero-wrap button {
        margin: 10px 0px;
        width: 250px;
    }
}