nav {
    background-color: #0D3D48;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul, nav li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.mobile-nav {
    display: none;
}

.nav-wrap {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: montserrat-regular;
}

.main-nav {
    display: flex;
    position: relative;
}

.main-nav li {
    margin: 0px 5px;
}

.nav-list-wrap li a {
    border-radius: 40px;
    transition: all 0.1s;
    padding: 10px 15px;
}

.main-nav li a:hover {
    background-color: #396380;
}

.main-nav li:hover .dropdown-menu {
    display: block;
    position: absolute;
}

.dropdown-menu {
    display: none;
    background-color: #0D3D48;
    border-radius: 20px;
    padding: 10px 10px;
    transform: translateX(-80%);
    width: 350px;
}

.dropdown-menu li {
    margin: 0px;
}

.dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 10px 15px;
}


@media (max-width: 768px) {
    .mobile-nav {
        display: block;
    }

    .desktop-nav {
        display: none;

    }

    #mobile-nav {
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0px;
        position: absolute;
        background-color: #0D3D48;
        overflow: hidden;
        transition: all 0.3s;
        padding: 20px;
    }

    #mobile-nav.open {
        right: 0;
    }

    .close-icon-wrap {
        display: flex;
        justify-content: end;
    }

    .mobile-menu-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .mobile-menu-wrap .header {
        font-size: 20px;
    }

    .mobile-menu-wrap ul {
        border-bottom: 2px solid white;
        width: 100%;
    }

    .mobile-menu-wrap ul li {
        margin: 15px 0px;
    }
}